.list{
  width: 430px;
  height: 700px;
}

.contato-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
    width: 100%;
}

.contato-item strong {
  font-size: 18px;
}

.contato-item span {
  font-size: 16px;
  color: gray;
}

.grupo {
  font-size: 24px;
  font-weight: bold;
  color: #0d6efd;
  border-bottom: 1px solid #dcdcdc;
}

.botao-adicionar {
  display: flex;
  justify-content: center;
  width: 430px;
  padding: 10px;
}
